body{
	background-color: green;
}

#button1{
	background-color: red;
	color: black;
}

#button1:active{
	background-color: lightblue;
}

#button1:hover {
  color: blue;
  background-color: lightblue;
}

#button2 {
  background-color: red;
}

#button2:hover {
  background-color: lightblue;
  transition: background-color 0.5s;
}
#button2:active {
	background-color: lightblue;
}